body {
  width: auto;
  margin-top: 50px;
}
/*navigasi*/

#nav {     
  height: 50px;  
  background: #678b99; 
  padding: 10px;  
}
#nav li {
  display: inline-block;
  text-decoration: none;
}
#nav #area {    
  margin: 0px;
}
#nav a{    
  color: white;
  padding: 20px; 
  text-decoration: none;
}
#nav a:hover{    
  color: grey;
  padding: 20px;
   
}
.aktif .active { 
  color: #678b99 !important;
  background: white;
} 
.toggle {
  width: 100%;
  background: black;
  height: 50px; 
  display: none;
}
.toggle svg {
  position: absolute;
  width: 30px;
  right: 20px;
  margin-top: 9px;  
}
.toggle svg .fill {
  fill: yellow;
}
.toggle svg .full {
  fill: blue;
}

/*cover*/

#cover {
  background-color: #acc1d4;
  height: 400px;
  margin-top: 50px;
}

/*about me*/

#about-me{  
  padding: 50px;
}
#about-me img {
  border-radius: 70%;
  border: solid 2px #acc1d4;
  width:100px;
}

/*portofolio*/

#portofolio {
  padding: 50px;
  background: #ccd5d0;
  
}
#portofolio img {
  width: 400px;
  padding: 10px;
}
#portofolio img:hover {
  opacity: 0.4;
}

/*contact*/

#contact {
  padding: 50px;
  height: 500px;
}
#contact svg {
  width: 30px;
  padding: 0;
  margin: 10px;
}
/*#contact svg:hover {
  width: 35px;
}*/
#contact svg:hover .fill {
  fill: #678b99;  
}
footer {
  color: white;
  height: 50px;
  text-align: center;
  width: auto;
  background-color: black;  
  padding: 10px;  
}
footer a:hover{
  text-decoration: none;
}


/* responsive size */
@media (max-width:490px){
  #nav {
    margin-top: 50px;   
    height: 280px;
    padding-top: 50px;
  }
  #area {       
  }
  #nav ul {
    width: 100%;
    margin: 60px;
  }
    #nav li {
    display: block;
    margin-bottom: 40px;
    text-align: center;
  }
  .toggle { 
  background: black;
  height: 50px;
  text-align: right;
  display: block;
}

}
